<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>  
<title>授权系统</title>  
<link rel="shortcut icon" th:href="@{/common/images/headlogo.ico}"/>                   
<!-- miniui所需资源 -->
<script th:src="@{/plugins/miniui/boot.js}" type="text/javascript"></script>
<script th:src="@{/plugins/miniui/index-layout.js}" type="text/javascript"></script>
<!-- 公共css -->  
<link rel="stylesheet" th:href="@{/plugins/miniui/miniui/res/font-awesome/css/font-awesome.min.css}"/>      
<link rel="stylesheet" th:href="@{/common/css/public.css}"/>  
<link rel="stylesheet" th:href="@{/common/css/fileIcon.css}"/>  
</head>   
<body>
 
    <!-- 菜单栏开始 -->
	<div style="width:100%;">
		欢迎使用清云分析系统
    </div>   
    <!-- 列表展示结束 -->  
      
   
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    	
    	
    /*]]>*/
</script>
</body>
</html>